:root {
    --error-red: #d33c3c;
}

.auth-form h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

#sign-up-access {
    text-align: center;
}

.auth-form form > label:first-child {
    margin-top: 1.2rem;
}

.auth-form form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 0;
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.auth-form input {
    font-size: 1rem;
    height: 2rem;
    margin-bottom: 1.5rem;
}

.auth-form label {
    font-weight: 500;
}

#taken {
    display: none;
    color: var(--error-red);
}

.auth-form .error {
    background-color: #841b1b;
    border: 1px solid red;
    border-radius: 0.3rem;
    text-align: center;
    width: fit-content;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    margin-left: auto;
    margin-right: auto;
}