@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@font-face {
    font-family: 'Haloberry';
    src: url('/fonts/Haloberry.ttf');
}

@font-face {
    font-family: 'FluoGums';
    src: url('/fonts/Fluo Gums.ttf');
}

.theme-dark {
    --dark-border-color: #303030;
    --light-border-color: #4a4a4a;
    --bg-color-0: black;
    --text-color: white;
    --primary-color: #c017a6;
    --secondary-color: #52c752;
    --card-hover-color: #1d1d1d;
    --textarea-bg-color: #1d1d1d;
}

.theme-light {
    --dark-border-color: #c9c9c9;
    --light-border-color: #b9b9b9;
    --bg-color-0: #ffffff;
    --text-color: black;
    --primary-color: #f081df;
    --secondary-color: #52c752;
    --card-hover-color: #e9e6e6;
    --textarea-bg-color: #e9e6e6;
}

#pseudobody {
    min-height: 100vh;
    background-color: var(--bg-color-0);
    color: var(--text-color);
}

.button {
    background-color: var(--primary-color);
    border-radius: 0.4rem;
    padding: 0.3rem;
    cursor: pointer;
}

.hyperlink {
    color: var(--secondary-color);
    text-decoration: underline;
}

#glisterbyte-header {
    display: flex;
    border-bottom: 1px solid var(--dark-border-color);
    padding: 0.5rem;
    padding-bottom: 0;
    min-width: 700px;
}

.glisterbyte-full-logo {
    display: flex;
    gap: 1rem;
}

.glisterbyte-logo-text {
    font-family: 'Haloberry';
    font-size: 2.5rem;
    filter: drop-shadow(0 0 0.25rem #888888);
}

.glisterbyte-logo-text-c1 {
    color: hsl(116, 100%, 53%);
}

.glisterbyte-logo-text-c2 {
    color: hsl(301, 100%, 53%);
}

.theme-light .glisterbyte-logo-text-c3 {
    color: hsl(168.6, 100%, 52.4%);
}

.theme-dark .glisterbyte-logo-text-c3 {
    color: hsl(65, 100%, 54%);
}

.glisterbyte-logo-text > span {
    margin-left: -0.4rem;
}

.koakuma {
    height: 4rem;
}

#main-content-container {
    border: 1px solid var(--dark-border-color);
    border-top: none;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
}

#profile-section {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1
    px solid var(--dark-border-color);
}

#profile-section-avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

#profile-section-avatar > img {
    aspect-ratio: 1;
    object-fit: cover;
    width: 100%;
}

#profile-section h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-view-opt-section {
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    gap: 1.1rem;
    align-items: center;
    justify-content: center;
}

.card-view-opt-section > span:first-child {
    font-weight: 800;
}

.card-view-opt-section input {
    border: 1px solid var(--dark-border-color)
}

.theme-light .card-view-opt-section input {
    filter: invert(1);
    background-color: black;
}

.card-view-opt-section > select {
    border: 1px solid var(--dark-border-color)
}

.card-view-opt-section > div > label {
    padding-left: 5px;
}

#show-finished-div {
    margin-left: 2rem;
}

select {
    background-color: var(--bg-color-0);
}

input {
    background-color: var(--bg-color-0);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.card {
    border: 1px solid var(--light-border-color);
    border-left: 4px solid white;
    overflow: hidden;
    width: 31rem;
    display: inline-block;
    margin: 1rem;
    font-size: 0.9rem;
}

.card-finished {
    border-left-color: rgb(0, 162, 0);
}

.card-dropped {
    border-left-color: hsl(0, 69%, 47%);
}

.card:hover {
    cursor: pointer;
    background-color: var(--card-hover-color);
}

.card-title {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.card > *:only-child {
    padding: 1rem;
    display: flex;
    gap: 1.5rem;
}

.portrait {
    max-height: 15rem;
    margin-top: auto;
    margin-bottom: auto;
}

h1 {
    font-weight: 550;
}

.score {
    --score-outline-color: var(--dark-border-color);
    border: 1px solid var(--score-outline-color);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 4rem 4rem 4rem;
    width: 12rem;
    overflow: hidden;
    margin-left: 0;
    margin-right: 0;
    margin: 1.3rem;
    font-size: 1rem;
}

.score > div:nth-child(3) {
    border-left: 1px solid var(--score-outline-color);
    border-right: 1px solid var(--score-outline-color);
}

.score > div > div:first-child {
    font-size: 0.7rem;
}

.score > div:first-child {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 2rem;
    border-bottom: 1px solid var(--score-outline-color);
    width: 100%;
    font-weight: 700;
    color: var(--color-surface-100);
}

.notes-label {
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--color-primary-100);
}

.gap-dot {
    margin: 0.4rem;
    margin-top: 0;
    margin-bottom: 0;
}

#window-cover {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

#file-input {
    display: none;
}